// Colors
$paleBlue: hsl(225, 100%, 94%);
$paleBlue2: hsl(0, 0%, 100%);
$brightBlue: hsl(245, 75%, 52%);
$verypaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: rgb(31, 47, 86);
$mediumBlue: hsl(245, 83%, 68%);